@font-face {
    font-weight: normal;
    font-family: "Raleway";
    src: url('../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-weight: 500;
    font-family: "Raleway";
    src: url('../assets/fonts/Raleway-Medium.ttf');
}

@font-face {
    font-weight: bold;
    font-family: "Raleway";
    src: url('../assets/fonts/Raleway-Bold.ttf');
}

@font-face {
    font-weight: normal;
    font-family: "Lora";
    src: url('../assets/fonts/Lora-Regular.ttf');
}

:root {
    --white: #fff;
    --grey: #a5a5a5;
    --light: #F8F8F8;
    --light-grey: #aeaeeb;
    --dark: #212529;
    --green: #28a745;
    --black: rgb(0, 0, 0);

    --box-shadow-label: 0 1px 3px var(--light-grey), 0 1px 2px var(--light-grey);
    --outline-label: 1px solid var(--light-grey);
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: var(--dark);
    font: 16px/1.5 "Raleway", sans-serif;
    
    background-image: linear-gradient(to right top, #845ec2, #9c5dc0, #b15dbc, #c55cb7, #d65db1);
}

.todo {
    box-sizing: border-box;
    width: 500px;
    padding: 30px 50px;
    background-color: var(--white);
}

/* TODO Header */

.todo-header    {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--light);
}

/* WELCOME  */

.welcome {
    color: var(--grey);
    font-size: 2.3em;
    line-height: 1.2;
}
.welcome-name {
    display: block;
    color: var(--dark);
    font-size: 1.5em;
}
.date   {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey);
    font-family: "Lora", serif;
}
.date-day {
    margin-right: 5px;
    font-size: 3em;
    line-height: 1;
}
.date-month-year {
    margin-right: auto;
}
.date-week-day {
    align-self: flex-end;
}

/* TODO ITEM*/
.todo-item {
    margin: 0 0 15px;
}
.todo-item-name {
    /* position: relative; */
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 20px 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.checked-vert-line {
    position: relative;
}

/* Utilities*/

.todo-item label {
    display: block;
}

.todo-item input[type="checkbox"]:hover ~ label,
.todo-item input[type="checkbox"]:focus ~ label {
    outline: var(--outline-label);
    box-shadow: var(--box-shadow-label);
}

.todo-item input[type="checkbox"]:checked ~ label {
    opacity: 0.55;
}

.todo-item input[type="checkbox"]:checked ~ label .checked-vert-line::before {
    position: absolute;
    top: 50%;
    width: 100%;
    display: block;
    border-bottom: 1px solid var(--green);
    content: "";

    animation: vertical-line 0.4s linear;
}
.sr-only {
    /* display: none; */
    position: absolute;

    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    clip: rect(0,0,0,0);
}

/* Animation */
@keyframes vertical-line {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}